*{
  margin: 0;
  padding: 0;
}
nav{
left: 0px;
top: 0px;
background: rgba(252, 183, 183, 0.6)
}
.container{
  padding: 10px;
  margin: 10px;
}
.jumbotron{
  background-color:transparent !important;
}
.dev{
  padding: 2px;
  text-align: right;
}
footer{
  background: rgba(240, 236, 236, 0.6)
}
.img1{
  height: 100px;
  width: 100px;
}
#maincont{
  margin: 10px;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  
}
h3{
  text-align: left;
}
h1,h3{
  background-color: antiquewhite;
}
#headtop{
  font-weight: 500;
  background: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}